.app-test-inner {
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    overflow: auto;
    font-size: 0.8rem;
}

.app-test-inner h1 {
    flex: 0 1 auto;
    margin: 5px auto;
    padding: 0px;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

.app-test-inner h2 {
    margin: 3px auto 5px auto;
    font-size: 1.1rem;
}

.app-test-inner input[type=button] {
    transition-property: background, background-color, border-color, color;
    transition-timing-function: linear;
    transition-duration: var(--short-animation-duration);
}

.app-test-inner input[type=button]:hover {
    transition-duration: 0s;
}

.app-test-inner input.button-disabled,
.app-test-inner input.button-disabled:hover {
    background: var(--input-disabled-background);
    color: var(--input-disabled-color);
    border: var(--input-disabled-border);
    padding: var(--input-disabled-padding);
    cursor: not-allowed;
}

.app-test-section {
    border: 1px solid #666666;
    margin: 5px 0;
    padding: 0px 5px 5px 5px;
    text-align: center;
    flex: 1 1 auto;
}

.app-test-section .toggle-section {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    transition: margin-top ease-in-out var(--short-animation-duration);
}


.app-test-section .toggle-section .restore {
    display: none;
}

.app-test-section .toggle-section .minimize {
    display: inline-block;
}

.app-test-section .app-test-subsection {
    max-height: auto;
}

.app-test-section.section-minimized {
    padding: 0;
    margin: 1px 0;
}

.app-test-section.section-minimized:hover {
    background: #999999;
}

.app-test-section.section-minimized h2 {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.app-test-section.section-minimized .toggle-section .restore {
    display: inline-block;
}

.app-test-section.section-minimized .toggle-section .minimize {
    display: none;
}

.app-test-section.section-minimized .toggle-section {
    margin-top: -15px;
}

.app-test-inner .user-data-count {
    display: inline-flex;
    min-width: 36px;
    justify-content: space-around;
}

.app-test-inner .user-data-variables {
    display: inline-block;
    min-width: 60px;
    text-align: left;
}

.app-test-inner .app-test-message-test .notification-text {
    width: 150px;
}

.app-test-section.app-test-operation-test .app-test-operation-info {
    float: right;
    position: relative;
}

.app-test-section.app-test-operation-test .app-test-operation-info .app-test-operation-info-section {
    padding: 1px 5px 2px 5px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    transition-property: border-color, background-color, color, text-shadow;
    transition-duration: var(--short-animation-duration);
    transition-timing-function: ease-in-out;
}

.app-test-operation-info-section.app-test-operation-info-progress,
.app-test-operation-info-section.app-test-operation-info-simulating {
    text-align: right;
}

.app-test-section.app-test-operation-test .app-test-operation-info .app-test-operation-info-section.highlighted {
    background-color: #FFCC33;
    color: #333333;
    border-color: #333333;
    text-shadow: 0px 0px 3px #333333;
}

.app-test-section.app-test-operation-test .app-test-operation-info .app-test-operation-info-section .fa {
    width: 16px;
    position: relative;
    top: 1px;
}

.app-test-section.app-test-data .app-test-subsection {
    flex: 1 0 auto;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    text-align: left;
}

.app-test-section.app-test-data .app-test-subsection .app-test-user-config,
.app-test-section.app-test-data .app-test-subsection .app-test-app-info {
    flex: 1 1 auto;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    margin: 5px;
}

.app-test-section.app-test-data h2 {
    flex: 0 0 auto;
}

.app-test-section.app-test-data .inspector-json-wrapper {
    flex: 1 1 auto;
    background: #CCCCCC;
    overflow: auto;
}

.auto-close-duration-display {
    display: inline-block;
    min-width: 30px;
    text-align: right;
}

.app-test-section.app-test-messaging .inspector-json-wrapper {
    background: #CCCCCC;
    overflow: auto;
    text-align: left;
    min-height: 160px;
}

.app-test-inner .transition-test-wrapper {
    display: flex;
    flex-flow: column;
    text-align: unset;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background: #669966;
}
.app-test-inner .transition-test-wrapper .transition-test-element {
    flex: 1 0 80%;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
    min-width: 80%;
    max-width: 80%;
    width: 80%;
    border: 1px solid;
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: #666699;
}

.app-test-inner .transition-test-wrapper .transition-test-element .transition-test-inner {
    flex: 1 1 100%;
    border: 1px solid;
    background: #996666;
}

.app-test-inner .transition-test-wrapper .transition-test-element.transition-placeholder-element {
    background: #9999CC;
}

.app-test-inner .transition-test-wrapper .transition-test-element.transition-placeholder-element .transition-test-inner {
    background: #663333;
}

.app-test-modal-test label {
    white-space: nowrap;
}
.app-test-file-manager {
    padding: 0 10px;
}

.file-manager-form-control-container {
    display: flex;
}

.fm-modal-button {
    margin: 10px auto;
}

.toggle-all-sections {
    float: right;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-right: 10px;
}